name: ci-wasm32

on:
  push: {}
  pull_request: {}

jobs:

  ci-wasm32:
    name: ci-wasm32
    runs-on: ubuntu-latest
    steps:

      - name: setup-wasm32-wasi-ghc
        run: |
          pushd $(mktemp -d)
          curl -f -L --retry 5 https://gitlab.haskell.org/ghc/ghc-wasm-meta/-/archive/master/ghc-wasm-meta-master.tar.gz | tar xz --strip-components=1
          FLAVOUR=9.6 PREFIX=/tmp/.ghc-wasm ./setup.sh
          /tmp/.ghc-wasm/add_to_github_path.sh
          popd

      - name: checkout
        uses: actions/checkout@v3

      - name: build
        run: |
          sed -i '/tasty/d' time.cabal

          echo "package QuickCheck" >> cabal.project.local
          echo "  flags: -templatehaskell" >> cabal.project.local

          autoreconf -i

          wasm32-wasi-cabal build test:ShowDefaultTZAbbreviations
          wasmtime run $(wasm32-wasi-cabal list-bin test:ShowDefaultTZAbbreviations)

          wasm32-wasi-cabal build test:ShowTime
          wasmtime run $(wasm32-wasi-cabal list-bin test:ShowTime)
